
body{
    margin: 0px;
}


.container{
    display: flex;
    border: 10px solid black;
    height: 90vh;
    border-radius: 25px;
    justify-content: flex-start;
    
    
   
}

.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 26px;



}
#box1{
    background-color: aqua;
    align-self: flex-end;
    
   
}

#box2{
    background-color: black;
    color: aliceblue;
    align-self: center;
  
}

#box3{
    background-color: red;
  
}

#box4{
    background-color: blue;
   
}



.container2{
    display: flex;
    border: 10px solid black;
    background-color: blue;
    height: 90vh;
    border-radius: 25px;
    justify-content: flex-start;
    margin-top: 20px;
    display: none;

}

    



.box{
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 26px;



}
#box5{
    background-color: aqua;
    align-self: flex-end;
    
   
}

#box6{
    background-color: black;
    color: rgb(72, 146, 211);
    align-self: center;
  
}

#box7{
    background-color: rgb(247, 18, 18);
  
}

#box8{
    background-color: rgb(133, 133, 190);
   
}




@media all and (max-width: 700px) {
    .container{
        display: none;
    }



    .container2{
        display: flex;
        border: 10px solid black;
        background-color: blue;
        height: 90vh;
        border-radius: 25px;
        justify-content: flex-start;
        margin-top: 0px;
    
    }


}



